.App {
  text-align: center;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: heartbeat infinite 1.3s;
  }
}

.App-header {
  background-color: pink;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}


@keyframes heartbeat {
  0% {
    transform: scale(.95);
  }

  20% {
    transform: scale(1);
  }

  40% {
    transform: scale(.95);
  }

  60% {
    transform: scale(1);
  }

  80% {
    transform: scale(.95);
  }

  100% {
    transform: scale(.95);
  }
}

.btn-scape-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);

  position: relative;
  width: 50vw;
  height: 70vh;
}

.btn-wrapper {
  position: relative;
  width: 100%;
  height: 50px;
}

.btn {
  position: absolute;
  width: 130px;
  height: 50px;
  border-radius: 20px;
  border: none;
  font-size: calc(10px + 2vmin);

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.btn.yes {
  background-color: rgb(149, 56, 121);
  color: white;
  left: 210px;
  cursor: pointer;
}

.btn.yes:hover {
  background-color: rgba(149, 56, 121, 0.832);
}

.btn.no {
  background-color: rgb(255, 227, 232);
  border: 2px solid rgb(149, 56, 121);
  color: rgb(149, 56, 121);
  right: 210px;
}